@{ 
    string c_url = Request.RawUrl;
    string curl_cn = "";
    string curl_cht = "";
    string curl_en = "";
    string c_lang = "";


    string class_cn = "";
    string class_cht = "";
    string class_en = "";

    //設定語系
    if (Convert.ToString(Session["lang"]) == "")
    {
        Session["lang"] = "cn";
    }

    c_lang = Convert.ToString(Session["lang"]);

    switch (c_lang)
    {
        case "cn":
            class_cn = " class=\"current\" ";
            break;
        case "zh-tw":
            class_cht = " class=\"current\" ";
            break;
        case "en":
            class_en = " class=\"current\" ";
            break;
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title - Green Organic Biotech Co., Ltd.</title>
    <link rel="stylesheet" href="~/Content/css/grid.css">
    @RenderSection("css", required: false)
    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/index.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/page.css">
    }
    <link rel="stylesheet" href="~/Content/css/vendor/icomoon.css">

    <script>
        function lang_change(c_lang) {
            $.ajax({
                url: '@Url.Content("~/Home/Lang_Change")',
                data: { lang: c_lang }, //此参数非常严谨，写错一个引号都不行
                type: "POST",
                dataType: 'TEXT', //返回值类型 一般设置为json
                async: false,
                success: function (JData) {
                    //轉址
                    location.href="@Url.Content(c_url)";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                },
                complete: function () {
                    //alert(tbl_new_list);
                    //alert('ajax complete');
                }
            });
            return false;
        }

    </script>
</head>
<body class="en-US @ViewBag.BodyClass">
    <div id="wrapper">
        <header id="header"><div class="wrap">
            <h1 class="logo" onclick="location.href='@Url.Content("~/Home")'" title="HOME" tabindex="-1">
                Green Organic Biotech Co., Ltd.
            </h1>
            <button class="mobile-trigger" title="MENU">MENU</button>
            <nav id="menu" class="navbar">
                <button class="mobile-close" title="CLOSE"><i class="icon-cross"></i></button>
                <h2 class="sr-only">MENU</h2>
                <a class="@(ViewBag.nav == "n1" ? "link current" : "link")" href="~/Home/AboutUs">About Us</a>
                @* <div class="dropdown"> *@
                    <a class="@(ViewBag.nav == "n2" ? "link current" : "link")" href="~/Home/NewsList">News</a>
                    @* <ul class="submenu">
                        <li><a href="~/Home/NewsList">News</a></li>
                        <li><a href="~/Home/Certificate">Certificate</a></li>
                        <li><a href="~/Home/Video">Video</a></li>
                    </ul>
                </div> *@
                <div class="dropdown">
                    <a class="@(ViewBag.nav == "n3" ? "link current" : "link")" href="~/Home/ProductList">Products</a>
                    <ul class="submenu">
                        <li><a href="~/Home/ProductSublist?cate_id=5">Green Organic</a></li>
                        <li><a href="~/Home/ProductSublist?cate_id=6">Functional</a></li>
                    </ul>
                </div>
                <a class="@(ViewBag.nav == "n4" ? "link current" : "link")" href="~/Home/WitnessList">Achievement</a>
                <a class="@(ViewBag.nav == "n5" ? "link current" : "link")" href="~/Home/ContactUs">Contact Us</a>
            </nav>

            <nav class="lang">
                <h2 class="sr-only">Language</h2>

                <a href="javascript:lang_change('cn');" @Html.Raw(class_cn) >简</a>
                <a href="javascript:lang_change('zh-tw');" @Html.Raw(class_cht) >繁</a>
                <a href="javascript:lang_change('en');" @Html.Raw(class_en) >EN</a>
            </nav>
        </div></header>

        <main id="main">
            @RenderSection("banner")
            @RenderBody()
        </main>

    </div><!-- wrapper //-->

    <footer id="footer"><div class="wrap">

        <div class="copyright"><span class="logo">Green Organic Biotech Co., Ltd.</span> &copy; 2017</div>
        <a href="#wrapper" class="goTop"><i class="icon-angle-up"></i></a>

    </div></footer><!-- footer -->

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/common.js"></script>
    <script>
        // 系列產品子選單
        $(".dropdown .link").click(function(e){
            e.preventDefault();
            $(this).siblings(".submenu").slideToggle();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>