<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title::大地還原生物科技股份有限公司</title>
    <link rel="stylesheet" href="~/Content/css/grid.css">
    @RenderSection("css", required: false)
    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/index.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/page.css">
    }
    <link rel="stylesheet" href="~/Content/css/vendor/icomoon.css">
</head>
<body class="@ViewBag.BodyClass">
    <div id="wrapper">
        <header id="header"><div class="wrap">
            <h1 class="logo" onclick="location.href='@Url.Content("~/Home")'" title="回首頁" tabindex="-1">
                大地還原生物科技股份有限公司
            </h1>
            <button class="mobile-trigger" title="主選單">MENU</button>
            <nav id="menu" class="navbar">
                <button class="mobile-close" title="關閉主選單"><i class="icon-cross"></i></button>
                <h2 class="sr-only">主選單</h2>
                <a class="@(ViewBag.nav == "n1" ? "current" : "")" href="~/Home/AboutUs">品牌故事</a>
                <a class="@(ViewBag.nav == "n2" ? "current" : "")" href="~/Home/NewsList">新聞資訊</a>
                <a class="@(ViewBag.nav == "n3" ? "current" : "")" href="~/Home/ProductList">系列產品</a>
                <a class="@(ViewBag.nav == "n4" ? "current" : "")" href="~/Home/WitnessList">海外實績</a>
                <a class="@(ViewBag.nav == "n5" ? "current" : "")" href="~/Home/ContactUs">聯繫我們</a>
            </nav>

            <nav class="lang">
                <h2 class="sr-only">語系切換</h2>
                <a href="#" class="current">简</a>
                <a href="#">繁</a>
                <a href="#">EN</a>
            </nav>
        </div></header>

        <main id="main">
            @RenderSection("banner")
            @RenderBody()
        </main>

    </div><!-- wrapper //-->

    <footer id="footer"><div class="wrap">

        <div class="copyright"><span class="logo">大地還原生物科技股份有限公司</span> &copy; 2016</div>
        <a href="#wrapper" class="goTop"><i class="icon-angle-up"></i></a>

    </div></footer><!-- footer -->

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/common.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>