<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>大地還原生物科技 管理系統</title>
    <link rel="stylesheet" href="~/Content/css/vendor/w3.css">
    <link rel="stylesheet" href="~/Content/css/vendor/open-iconic.css">
    <link rel="stylesheet" href="~/Content/css/sys.css">

    @* 引用 jQuery *@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    @RenderSection("IncludeCSS", false)
</head>

<body class="@ViewBag.BodyClass">
    <div id="wrapper">
        @if (ViewBag.IsFirstPage)
        {

        }
        else
        {
            if (Convert.ToString(Session["IsLogined"]) != "Y")
            {
                Response.Redirect(Url.Content("~/Manage/Login"));
            }
            else
            {
                <header id="header" class="navbar navbar-fixed-top navbar-dark bg-primary">
                    <h1 class="logo">
                        <a class="navbar-brand" href="@Url.Content("~/Manage")" title="回登入首頁" tabindex="-1">大地還原生物科技 管理系統</a>
                    </h1><!-- logo -->
                    <ul class="nav navbar-nav pull-xs-right">
                        <li class="nav-item">
                            <span class="nav-link oi" data-glyph="person">
                                登入身分: @Convert.ToString(Session["account"])
                            </span>
                        </li>
                        <li class="nav-item bg-warning">
                            <a href="@Url.Content("~/Home")" class="nav-link oi" data-glyph="home">
                                回首頁
                            </a>
                        </li>
                        <li class="nav-item bg-success">
                            <a href="@Url.Content("~/Manage/Logout")" class="nav-link oi" data-glyph="power-standby">
                                登出
                            </a>
                        </li>
                    </ul>
                </header><!-- header //-->
            }
        }
        <main id="main">

            @if (ViewBag.IsFirstPage)
            {
                @RenderBody()
            }
            else
            {
                <div id="content">
                    <ul class="breadcrumb">
                        @RenderSection("Breadcrumb", false)
                    </ul>
                    @RenderBody()
                </div><!-- content //-->

                <aside id="sidebar">
                    <h3 class="h3"><i class="oi" data-glyph="menu"></i> 功能選單 MENU</h3>

                    <header class="collapse-toggle @(ViewBag.nav == "n1" ? "current" : "")"><i class="oi" data-glyph="folder"></i>產品資料維護</header>
                    <nav class="collapse-content @(ViewBag.nav == "n1" ? "in" : "")">
                        <a href="~/Manage" class="@(ViewBag.SubNav == "n1-1" ? "current" : "")"><i>&#8227;</i>產品分類 管理</a>
                    </nav>

                    <header class="collapse-toggle @(ViewBag.nav == "n2" ? "current" : "")"><i class="oi" data-glyph="flag"></i>海外實績管理</header>
                    <nav class="collapse-content @(ViewBag.nav == "n2" ? "in" : "")">
                        <a href="~/Manage" class="@(ViewBag.SubNav == "n2-1" ? "current" : "")"><i>&#8227;</i>海外實績分類 管理</a>
                    </nav>

                    <header class="collapse-toggle @(ViewBag.nav == "n3" ? "current" : "")"><i class="oi" data-glyph="info"></i>網站資訊維護</header>
                    <nav class="collapse-content @(ViewBag.nav == "n3" ? "in" : "")">
                        <a href="~/Manage/NewsList" class="@(ViewBag.SubNav == "n3-1" ? "current" : "")"><i>&#8227;</i>最新消息 管理</a>
                        <a href="~/Manage/IndexVideo" class="@(ViewBag.SubNav == "n3-2" ? "current" : "")"><i>&#8227;</i>首頁影片 管理</a>
                        <a href="~/Manage/AboutUs" class="@(ViewBag.SubNav == "n3-3" ? "current" : "")"><i>&#8227;</i>關於我們 編輯</a>
                    </nav>

                    <header class="collapse-toggle @(ViewBag.nav == "n4" ? "current" : "")"><i class="oi" data-glyph="cog"></i>系統設定</header>
                    <nav class="collapse-content @(ViewBag.nav == "n4" ? "in" : "")">
                        <a href="~/Manage/ChangePW" class="@(ViewBag.SubNav == "n4-1" ? "current" : "")"><i>&#8227;</i>變更密碼</a>
                    </nav>
                </aside><!-- sidebar //-->
            }

        </main><!-- main //-->
    </div><!-- wrapper //-->

    <footer id="footer">
        <p class="copyright text-muted">
            Powered By <a href="http://www.jcin.com.tw" target="new">JCIN.</a>
        </p>
    </footer><!-- footer //-->

    <script>
        // 左選單縮放特效
        var $collapse = $('.collapse-toggle');
        var fall = '.collapse-content';

        // 若是當前選單就加上點中(active) class
        $collapse.siblings(".current").addClass("active");

        $collapse.click(function (e) {
            $(this).next(fall).slideToggle(200);
            $(this).siblings().next(fall).slideUp();
            $(this).toggleClass("active"),
                    $collapse.not(this).removeClass("active");
            event.preventDefault();
        });
    </script>

    @RenderSection("IncludeScript", false)
</body>
</html>
