
<aside id="sidebar" class="col-md-3 p-l-0">
    <a href="~/Home/OverlookArea" class="@(ViewBag.MapCurrent == "all" ? "current" : "")">桃園全區</a>
    @* 當前選單加 class="current"
    <a href="~/Home/OverlookMap" class="current">復興區</a> *@
    <a href="~/Home/OverlookMap?area_id=8" class="@(ViewBag.MapCurrent == "8" ? "current" : "")">蘆竹區</a>
    <a href="~/Home/OverlookMap?area_id=10" class="@(ViewBag.MapCurrent == "10" ? "current" : "")">大園區</a>
    <a href="~/Home/OverlookMap?area_id=3" class="@(ViewBag.MapCurrent == "3" ? "current" : "")">觀音區</a>
    <a href="~/Home/OverlookMap?area_id=5" class="@(ViewBag.MapCurrent == "5" ? "current" : "")">新屋區</a>
    <a href="~/Home/OverlookMap?area_id=2" class="@(ViewBag.MapCurrent == "2" ? "current" : "")">龍潭區</a>
    <a href="~/Home/OverlookMap?area_id=1" class="@(ViewBag.MapCurrent == "1" ? "current" : "")">桃園區</a>
    <a href="~/Home/OverlookMap?area_id=9" class="@(ViewBag.MapCurrent == "9" ? "current" : "")">八德區</a>
    <a href="~/Home/OverlookMap?area_id=4" class="@(ViewBag.MapCurrent == "4" ? "current" : "")">楊梅區</a>
    <a href="~/Home/OverlookMap?area_id=11" class="@(ViewBag.MapCurrent == "11" ? "current" : "")">平鎮區</a>
    <a href="~/Home/OverlookMap?area_id=12" class="@(ViewBag.MapCurrent == "12" ? "current" : "")">龜山區</a>
    <a href="~/Home/OverlookMap?area_id=6" class="@(ViewBag.MapCurrent == "6" ? "current" : "")">大溪區</a>
    <a href="~/Home/OverlookMap?area_id=13" class="@(ViewBag.MapCurrent == "13" ? "current" : "")">中壢區</a>
    <a href="~/Home/OverlookMap?area_id=7" class="@(ViewBag.MapCurrent == "7" ? "current" : "")">復興區</a>
</aside>