
@{
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    ViewBag.BodyClass = "ChangePW";
    ViewBag.Crumb = "變更密碼";
    ViewBag.nav = "n2";
    ViewBag.subNav = "sn2-1";
}

@section Breadcrumb {
    <li><i class="fa-caret-right"></i> 系統設定</li>
    <li><i class="fa-angle-right"></i> @ViewBag.Crumb</li>
}

<h3 class="h3">@ViewBag.Crumb</h3>

<script>
    function form_ok()
    {
        var new_pwd = "";
        var chk_new_pwd = "";
        new_pwd = $('#new_pwd').val();
        chk_new_pwd = $('#chk_new_pwd').val();

        if(new_pwd == chk_new_pwd)
        {
            document.form1.submit();
        }
        else
        {
            alert("請重新確認新密碼及其驗證輸入是否相同!!!");
        }

    }
</script>

<form class="form form-sm" name="form1" method="post" action="">
    <div class="form-group row">
        <label class="col-xs-1 form-control-label text-xs-right">
            <span class="text-danger">*</span> 目前密碼
        </label>
        <div class="col-xs-7">
            <input type="password" class="form-control" placeholder="請輸入目前密碼..." name="now_pwd" id="now_pwd">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-1 form-control-label text-xs-right">
            <span class="text-danger">*</span> 新密碼
        </label>
        <div class="col-xs-7">
            <input type="password" class="form-control" placeholder="請輸入新密碼..." name="new_pwd" id="new_pwd">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-1 form-control-label text-xs-right">
            <span class="text-danger">*</span> 確認新密碼
        </label>
        <div class="col-xs-7">
            <input type="password" class="form-control" placeholder="請再次輸入新密碼..." name="chk_new_pwd" id="chk_new_pwd">
        </div>
    </div>
    <div class="form-action">
        <button type="button" class="btn btn-primary btn-sm col-xs-offset-1" onclick="form_ok();">
            <i class="fa-check"></i> 存檔確認
        </button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="@Url.Content("~/Manage/")">
            <i class="fa-times"></i> 回列表
        </button>
    </div>
</form>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));

        
        if(message == "Y")
        {
            alert("密碼更新成功，請重新登入!!!")
            location.href = "@Url.Content("~/Manage/Logout")";
        }
        else
        {
            alert(message);
        }
            
    </script>
}