@using System.Data
@{
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    ViewBag.BodyClass = "News";
    ViewBag.Crumb = "最新消息管理";
    ViewBag.nav = "n3";
    ViewBag.subNav = "n3-1";

    //變數設定

    DataTable d_lang = (DataTable)ViewData["d_lang"];
    DataTable d_news = (DataTable)ViewData["d_news"];

    string n_id = "";
    string lang = "";
    string n_title = "";
    string n_desc = "";
    string n_date = "";
    string n_url = "";
    string sort = "";
    string action_sty = (string)ViewData["action_sty"];
    string action_name = "";
    string c_selected = "";
    string c_status = "";
    string c_status_Y = "";
    string c_status_N = "";
    string is_index = "";
    string is_index_Y = "";
    string is_index_N = "";


    if (action_sty == "add")
    {
        action_name = "新增";

        n_id = "";
        lang = "";
        n_title = "";
        n_desc = "";
        n_date = "";
        n_url = "";
        c_status = "Y";
        c_status_Y = "checked";
        c_status_N = "";
        is_index = "Y";
        is_index_Y = "checked";
        is_index_N = "";
        sort = "0";
    }
    else if(action_sty == "edit")
    {
        action_name = "修改";

        //d_news = (DataTable)ViewData["d_news"];

        //d_scenic_img_b = (DataTable)ViewData["d_scenic_img_b"];
        //d_scenic_img_s = (DataTable)ViewData["d_scenic_img_s"];

        n_id = d_news.Rows[0]["n_id"].ToString();
        lang = d_news.Rows[0]["lang"].ToString();
        n_title = d_news.Rows[0]["n_title"].ToString();
        n_desc = d_news.Rows[0]["n_desc"].ToString();
        n_date = d_news.Rows[0]["n_date"].ToString();
        n_url = d_news.Rows[0]["n_url"].ToString();
        is_index = d_news.Rows[0]["is_index"].ToString();
        c_status = d_news.Rows[0]["status"].ToString();
        sort = d_news.Rows[0]["sort"].ToString();

        switch (c_status)
        {
            case "Y":
                c_status_Y = "checked";
                c_status_N = "";
                break;
            case "N":
                c_status_Y = "";
                c_status_N = "checked";
                break;
        }

        switch (is_index)
        {
            case "Y":
                is_index_Y = "checked";
                is_index_N = "";
                break;
            case "N":
                is_index_Y = "";
                is_index_N = "checked";
                break;
        }
    }

        }

@section Breadcrumb {
    <li>&#8227; 網站資訊維護</li>
    <li>&#8250; @ViewBag.Crumb</li>
}

<h3 class="h3">@ViewBag.Crumb<small class="sub"><span class="w3-large">&#187;</span> @action_name</small></h3>

@*1.引用ckeditor.js*@
<script src="~/ckeditor/ckeditor.js"></script>
<script>
    function form_ok() {
        form1.submit();
    }
</script>

<form action="News_Save" class="form form-sm" name="form1" id="form1" method="post" enctype="multipart/form-data" >
    <input type="hidden" name="action_sty" id="action_sty" value="@action_sty" />
    <input type="hidden" name="n_id" id="n_id" value="@n_id" />
    
    <div class="form-group row">
        <label class="col-xs-1 form-control-label text-xs-right">
            <span class="text-danger">*</span> 語系
        </label>
        <div class="col-xs-5">
            <select class="form-control form-control-sm" id="lang" name="lang">
                @if (d_lang.Rows.Count > 0)
                {
                    for (int i = 0; i < d_lang.Rows.Count; i++)
                    {
                        if (d_lang.Rows[i]["lang_id"].ToString() == lang)
                        {
                            c_selected = "selected";
                        }
                        else
                        {
                            c_selected = "";
                        }
                        <option value="@d_lang.Rows[i]["lang_id"].ToString()" @c_selected>@d_lang.Rows[i]["lang_name"].ToString()</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-1 form-control-label text-xs-right">
            <span class="text-danger">*</span> 發佈日期
        </label>
        <div class="col-xs-5">
            <input type="date" class="form-control form-control-sm" required id="n_date" name="n_date" value="@n_date"> @* 用 datetimepicker (之類的東西) 選日期 *@
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-1 form-control-label text-xs-right">
            <span class="text-danger">*</span> 標題
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control form-control-sm" required id="n_title" name="n_title" value="@n_title">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-1 form-control-label text-xs-right">
            <span class="text-danger">*</span> 排序
        </label>
        <div class="col-xs-5">
            <input type="number" min="0" class="form-control form-control-sm" id="sort" name="sort" value="@sort">
        </div>
        <small class="col-xs-6 form-control-label text-muted">數字愈大排在愈上面</small>
    </div>
    <div class="form-group row">
        <label class="col-xs-1 form-control-label text-xs-right">
            狀態
        </label>
        <div class="col-xs-6">
            <label class="c-input c-radio">
                <input type="radio" name="show" id="show" value="Y" @c_status_Y >
                <span class="c-indicator"></span>
                <span class="text-sm">發佈</span>
            </label>
            <label class="c-input c-radio m-r-0">
                <input type="radio" name="show" id="show" value="N" @c_status_N >
                <span class="c-indicator"></span>
                <span class="text-sm">草稿</span>
            </label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-1 form-control-label text-xs-right">
            首頁顯示
        </label>
        <div class="col-xs-6">
            <label class="c-input c-radio">
                <input type="radio" name="hot" id="hot" value="Y" @is_index_Y>
                <span class="c-indicator"></span>
                <span class="text-sm">顯示在首頁</span>
            </label>
            <label class="c-input c-radio m-r-0">
                <input type="radio" name="hot" id="hot" value="N" @is_index_N>
                <span class="c-indicator"></span>
                <span class="text-sm">不顯示在首頁</span>
            </label>
        </div>
    </div><!-- form-group //-->

    <h4 class="h4 clear">內容</h4>
    <div class="alert alert-warning w3-padding-small text-sm">
        <strong>編輯器注意事項: </strong><br>
        從 WORD 複製文字時，請使用下方的 <img src="~/Content/images/sys/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br>
        編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br>
        檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明)<br>
        youtube 可勾選「用自適應縮放模式」
    </div>
    @* 編輯器(含圖片上傳功能) *@
    <textarea class="ckeditor form-control" rows="8" placeholder="請輸入最新消息內容" name="n_desc" id="n_desc">@n_desc</textarea>
    @*加入圖片上傳頁籤，放在頁面底下，放在頁面head區的話，會抓不到myText DOM*@
    <script type="text/javascript">
        CKEDITOR.replace('n_desc'
    , { filebrowserImageUploadUrl: '@Url.Content("~/Manage/UploadPicture")' }
    );
    </script>

    <div class="form-action">
        <button type="button" name="btn_ok" onclick="form_ok();" class="btn btn-primary btn-sm col-xs-offset-1 oi" data-glyph="circle-check">
            存檔確認
        </button>
        <button type="button" id="btn_back" name="btn_back" onclick="location.href='NewsList'" class="btn btn-secondary btn-sm oi" data-glyph="circle-x">
            回列表
        </button>
    </div>
</form>
<script>
    //禁止按下enter
    $('#form1').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
</script>