@using System.Data

@{
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    ViewBag.Crumb = "最新消息管理";
    ViewBag.nav = "n3";
    ViewBag.subNav = "n3-1";

    DataTable dt = (DataTable)ViewData["dt"];
    DataTable d_lang = (DataTable)ViewData["d_lang"];
    int row_count = 0;
    int page_count = 10;
    int page = (int)ViewData["page"];
    int pre_page = 0;
    int top_page = 0;
    int next_page = 0;
    int end_page = 0;
    int min_row = 0;
    int max_row = 0;
    int total_page = 0;

    string n_id = "";
    string n_title = "";
    string n_date = "";
    string n_lang = "";
    string n_sort = "";
    string lang_name = "";
    string is_index = "";
    string show = "";
    string show_class = "";
    string txt_title_query = (string)ViewData["txt_title_query"];
    string txt_sort = (string)ViewData["txt_sort"];
    string txt_a_d = (string)ViewData["txt_a_d"];
    string txt_start_date = (string)ViewData["txt_start_date"];
    string txt_end_date = (string)ViewData["txt_end_date"];
    string txt_lang = (string)ViewData["txt_lang"];

    string c_selected = "";

    string a_d = "";

    if(txt_a_d == "")
    {
        a_d = "asc";
    }
    else
    {
        a_d = "desc";
    }

    string class_title = "";
    string class_lang = "";
    string class_date = "";
    string class_sort = "";
    string class_status = "";
    string class_index = "";

    switch(txt_sort)
    {
        case "n_title":
            class_title = a_d;
            break;
        case "n_date":
            class_date = a_d;
            break;
        case "lang":
            class_lang = a_d;
            break;
        case "sort":
            class_sort = a_d;
            break;
        case "is_index":
            class_index = a_d;
            break;
        case "status":
            class_status = a_d;
            break;
    }

    row_count = dt.Rows.Count;
    if(row_count % page_count > 0)
    {
        total_page = (row_count / page_count) + 1;
    }
    else
    {
        total_page = row_count / page_count;
    }

    if(page > total_page)
    {
        page = total_page;
    }
    else if(page < 1)
    {
        page = 1;
    }

    top_page = 1;

    if(page > 1)
    {
        pre_page = page - 1;
    }
    else
    {
        pre_page = 1;
    }

    if (total_page > page)
    {
        next_page = page + 1;
    }
    else
    {
        next_page = total_page;
    }

    end_page = total_page;

    min_row = 10 * (page - 1) + 1;
    max_row = 10 * page;
    if(max_row > row_count)
    {
        max_row = row_count;
    }

            }

            @section Breadcrumb {
    <li>&#8227; 網站資訊維護</li>
    <li>&#8250; @ViewBag.Crumb</li>
}

<h3 class="h3">@ViewBag.Crumb</h3>

<div class="alert alert-warning w3-padding-small text-sm">
    首頁最多可顯示 3 則最新消息，若您設定超過 3 則消息要顯示在首頁，首頁只會顯示排序最高的前 3 則。<br>
    輸入多個關鍵字時，請使用逗號 , 作為區隔 ex. 浙江,臨安,山核桃
</div>

<form name="form1" id="form1" action="" method="post">
    <input type="hidden" id="txt_sort" name="txt_sort" value="@txt_sort" />
    <input type="hidden" id="txt_a_d" name="txt_a_d" value="@txt_a_d" />
    <header class="table-header">
        <div class="table-filter">
            <div class="form-inline">
                <label class="text-sm">標題</label> @* 如要顯示文字: 把 sr-only 拿掉 *@
                <input type="text" class="form-control form-control-sm" placeholder="請輸入關鍵字..." id="txt_title_query" name="txt_title_query">

                <label class="text-sm w3-margin-left">日期</label> @* 如要顯示文字: 把 sr-only 拿掉 *@
                @* 用 datetimepicker (之類的東西) 選日期 *@
                <input type="date" class="form-control form-control-sm" id="txt_start_date" name="txt_start_date" value="@txt_start_date">
                <label class="text-sm">~</label>
                <input type="date" class="form-control form-control-sm" id="txt_end_date" name="txt_end_date" value="@txt_end_date">

                <label class="text-sm w3-margin-left">語系</label>
                <select class="form-control form-control-sm" id="txt_lang" name="txt_lang">
                    <option value="">全部</option>
                    @if (d_lang.Rows.Count > 0)
                    {
                        for (int i = 0; i < d_lang.Rows.Count; i++)
                        {
                            if (d_lang.Rows[i]["lang_id"].ToString() == txt_lang)
                            {
                                c_selected = "selected";
                            }
                            else
                            {
                                c_selected = "";
                            }
                            <option value="@d_lang.Rows[i]["lang_id"].ToString()" @c_selected>@d_lang.Rows[i]["lang_name"].ToString()</option>
                        }
                    }
                </select>

                <button class="btn btn-sm btn-primary oi" data-glyph="magnifying-glass" id="btn_query" name="btn_query" onclick="form_ok();">查詢</button>
            </div>
        </div><!-- table-filter //-->
    </header>

    <table class="table table-sm table-bordered table-striped table-hover">
        <colgroup>
            <col span="2" style="width: 6%">
            <col style="width: 10%">
            <col>
            <col span="3" style="width: 9%">
            <col style="width: 10%">
        </colgroup>
        <thead>
            <tr>
                <th class="text-xs-center">刪除</th> @* 文字置中: class="text-xs-center" / 置右: class="text-xs-right" *@
                <th class="text-xs-center">修改</th>
                <th>
                    <button class="text-xs-center th-sort-toggle @class_date" name="btn_date" id="btn_date" onclick="sort('n_date');">發佈日期</button>
                </th>
                <th>
                    @* 如不需要排序功能: 純文字即可 *@
                    標題
                </th>
                <th>
                    @* 點選排序功能 (點一下遞增 asc, 點兩下遞減 desc) *@
                    <button class="text-xs-center th-sort-toggle @class_lang" name="btn_lang" id="btn_lang" onclick="sort('lang');">語系</button>
                </th>
                <th>
                    @* 點選排序功能 (點一下遞增 asc, 點兩下遞減 desc) *@
                    <button class="text-xs-center th-sort-toggle @class_sort" name="btn_sort" id="btn_sort" onclick="sort('sort');">排序</button>
                </th>
                <th>
                    <button class="text-xs-center th-sort-toggle @class_status" name="btn_status" id="btn_status" onclick="sort('status');" >狀態</button>
                </th>
                <th>
                    <button class="text-xs-center th-sort-toggle @class_index" name="btn_index" id="btn_index" onclick="sort('is_index');" >顯示在首頁</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @* 建議: 1頁10筆資料 *@
            @if (dt.Rows.Count > 0)
            {
                for (int i = min_row - 1; i < max_row; i++)
                {
                    n_id = dt.Rows[i]["n_id"].ToString();
                    n_title = dt.Rows[i]["n_title"].ToString();
                    n_date = dt.Rows[i]["n_date"].ToString();
                    lang_name = dt.Rows[i]["lang_name"].ToString();
                    n_sort = dt.Rows[i]["sort"].ToString();
                    is_index = dt.Rows[i]["is_index"].ToString();
                    if (dt.Rows[i]["status"].ToString() == "Y")
                    {
                        show = "已發佈";
                        show_class = "label-success";
                    }
                    else
                    {
                        show = "草稿";
                        show_class = "label-default";
                    }

                    <tr>
                        <td class="text-xs-center">
                            <button type="button" onclick="location.href='@Url.Content("~/Manage/News_Del?n_id=" + n_id)';" class="btn btn-link text-danger oi" data-glyph="trash"></button>
                        </td>
                        <td class="text-xs-center">
                            <button type="button" onclick="location.href='@Url.Content("~/Manage/News_Edit?n_id=" + n_id)';" class="btn btn-link oi" data-glyph="pencil"></button>
                        </td>
                        <td class="text-xs-center">@n_date</td>
                        <td class="text-xs-left">@n_title</td>
                        <td class="text-xs-center">@lang_name</td>
                        <td class="text-xs-center">@n_sort</td>
                        <td class="text-xs-center"><span class="w3-tag @show_class w3-round">@show</span></td>
                        <td class="text-xs-center">
                            @if (is_index == "Y")
                            {
                                <i class="oi text-primary" data-glyph="check"></i> @* 有顯示在首頁就打勾 *@
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-xs-left" colspan="8">
                        無資料
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <footer class="table-footer clearfix">
        <button type="button" onclick="location.href='@Url.Content("~/Manage/News_Add")';" class="btn btn-sm btn-success pull-xs-left oi" data-glyph="plus">
            新增
        </button>
        <small class="pull-xs-right">第 1-10 筆，共 @row_count 筆</small>
        <ul class="pager pager-sm">
            <li>
                <a href="@Url.Content("~/Manage/NewsList?page=" + top_page.ToString())" class="oi" data-glyph="media-step-backward"></a>
            </li>
            <li>
                <a href="@Url.Content("~/Manage//NewsList?page=" + pre_page.ToString())" class="oi" data-glyph="caret-left"></a>
            </li>
            <li class="form-inline">
                <label>第</label>
                <input type="text" class="form-control form-control-sm text-xs-center" style="width:100px" name="page" id="page" value="@page">
                <label>頁，共 @total_page 頁</label>
            </li>
            <li>
                <a href="@Url.Content("~/Manage//NewsList?page=" + next_page.ToString())" class="oi" data-glyph="caret-right"></a>
            </li>
            <li>
                <a href="@Url.Content("~/Manage//NewsList?page=" + end_page.ToString())" class="oi" data-glyph="media-step-forward"></a>
            </li>
        </ul>
    </footer>
</form>
<script>
    $('#form1').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
    //$('#page').on('keydown', function (e) {
    //    if (e.which == 13) {
    //        //alert('clicked');
    //        document.form1.submit();
    //    }
    //});

    //$('#txt_title_query').on('keydown', function (e) {
    //    if (e.which == 13) {
    //        //alert('clicked');
    //        document.form1.submit();
    //    }
    //});

    //$('#txt_start_date').on('keydown', function (e) {
    //    if (e.which == 13) {
    //        //alert('clicked');
    //        document.form1.submit();
    //    }
    //});

    //$('#txt_end_date').on('keydown', function (e) {
    //    if (e.which == 13) {
    //        //alert('clicked');
    //        document.form1.submit();
    //    }
    //});

    //$('#txt_lang').on('keydown', function (e) {
    //    if (e.which == 13) {
    //        //alert('clicked');
    //        document.form1.submit();
    //    }
    //});

    function sort(c_sort)
    {
        var pre_sort = $('#txt_sort').val();
        var pre_a_d = $('#txt_a_d').val();
        var a_d = "";
        var s_sort = "";
        var class_a_d = "";

        s_sort = c_sort;
        if (pre_sort == c_sort) {
            if (pre_a_d == "") {
                a_d = "desc";
            }
            else {
                a_d = "";
            }
        }
        else {
            a_d = "";
        }

        //alert("pre_sort:" + pre_sort + ";pre_a_d:" + pre_a_d + ";a_d:" + a_d + ";s_sort=" + s_sort)

        $('#txt_sort').val(s_sort);
        $('#txt_a_d').val(a_d);

        $('#form1').submit();

    }

    //$('#btn_area').click(function (e) {
    //    var pre_sort = $('#txt_sort').val();
    //    var pre_a_d = $('#txt_a_d').val();
    //    var a_d = "";
    //    var sort = "";
    //    if(pre_sort == "area")
    //    {
    //        if(pre_a_d == "")
    //        {
    //            a_d = "desc";
    //        }
    //        else
    //        {
    //            a_d = "";
    //        }
    //    }
    //    else
    //    {
    //        sort = "area";
    //        a_d = "";
    //    }
    //});
    //$('#page').click(function (e) {
    //    alert('clicked');
    //});
</script>