@using System.Data
@{
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    ViewBag.Crumb = "產品資料管理";
    ViewBag.nav = "n1";
    ViewBag.subNav = "n1-1";

    DataTable d_lang = (DataTable)ViewData["d_lang"];
    DataTable d_cate = (DataTable)ViewData["d_cate"];
    DataTable d_prod = (DataTable)ViewData["d_prod"];
    DataTable d_img = (DataTable)ViewData["d_img"];

    string prod_id = "";
    string lang = "";
    string cate = "";
    string prod_name = "";
    string manure_no = "";
    string manure_info = "";
    string manure_ingredients = "";
    string manure_trait = "";
    string prod_desc = "";
    string sort = "";
    string action_sty = (string)ViewData["action_sty"];
    string action_name = "";
    string lang_selected = "";
    string cate_selected = "";
    string c_status = "";
    string c_status_Y = "";
    string c_status_N = "";
    string is_index = "";
    string is_index_Y = "";
    string is_index_N = "";
    string small_pic = "";
    string img_no = "";
    string img_path = "../Images/";
    string small_img = "";
    string big_img = "";
    string img_id = "";

    img_no = DateTime.Now.ToString("yyyyMMddHHmmss");

    if (action_sty == "add")
    {
        action_name = "新增";

        prod_id = "";
        prod_name = "";
        manure_no = "";
        manure_info = "";
        manure_ingredients = "";
        manure_trait = "";
        prod_desc = "";
        small_pic = "";
        c_status = "Y";
        c_status_Y = "checked";
        c_status_N = "";
        sort = "0";

    }
    else if (action_sty == "edit")
    {
        action_name = "修改";

        //d_scenic = (DataTable)ViewData["d_scenic"];
        //d_scenic_img_b = (DataTable)ViewData["d_scenic_img_b"];
        //d_scenic_img_s = (DataTable)ViewData["d_scenic_img_s"];


        prod_id = d_prod.Rows[0]["prod_id"].ToString();
        prod_name = d_prod.Rows[0]["prod_name"].ToString();
        manure_no = d_prod.Rows[0]["manure_no"].ToString();
        manure_info = d_prod.Rows[0]["manure_info"].ToString();
        manure_ingredients = d_prod.Rows[0]["manure_ingredients"].ToString();
        manure_trait = d_prod.Rows[0]["manure_trait"].ToString();
        prod_desc = d_prod.Rows[0]["prod_desc"].ToString();
        lang = d_prod.Rows[0]["lang"].ToString();
        cate = d_prod.Rows[0]["cate_id"].ToString();

        c_status = d_prod.Rows[0]["status"].ToString();
        sort = d_prod.Rows[0]["sort"].ToString();

        switch (c_status)
        {
            case "Y":
                c_status_Y = "checked";
                c_status_N = "";
                break;
            case "N":
                c_status_Y = "";
                c_status_N = "checked";
                break;
        }
    }

}

@section Breadcrumb {
    <li>&#8227; 產品資料維護</li>
    <li>&#8250; @ViewBag.Crumb</li>
}

<h3 class="h3">@ViewBag.Crumb<small class="sub"><span class="w3-large">&#187;</span> 修改</small></h3>
@* 引用 ajaxfileupload *@
<script src="~/Scripts/ajaxfileupload.js"></script>
@*1.引用ckeditor.js*@
<script src="~/ckeditor/ckeditor.js"></script>

<script>
    function form_ok() {
        //檢查資料
        form1.submit();
    }

    function get_cate()
    {
        //  取得被選擇項目的值
        //$("#select").find(":selected").val();
        var c_lang = $("#lang").find(":selected").val();
        $.ajax({                
            url: 'Prod_Cate_Get',
            data: { lang: c_lang  }, //此参数非常严谨，写错一个引号都不行
            type:"POST",
            dataType: 'TEXT', //返回值类型 一般设置为json
            async: false,
            success: function(JData){
                //alert(JData);
                data = handleAjaxVPNMsg(JData);
                i = 0;
                c_html = "";

                //  移除全部的項目
                $("#cate option").remove();

                $.each($.parseJSON(data), function (idx, obj) {
                    //$("#select").append($("<option></option>").attr("value", "值").text("文字"));
                    $("#cate").append($("<option></option>").attr("value", obj.cate_id).text(obj.cate_name));
                });
            },
            error:function(xhr, ajaxOptions, thrownError){ 
                alert(xhr.status); 
                alert(thrownError); 
            },
            complete: function () {
                //alert(tbl_new_list);
                //alert('ajax complete');
            }
        });
        return false;
    }

    function del_img(img_id,c_sty)
    {
        var cimg_no = "";
        var c_cate = "Prod"
        if ($("#prod_id").val().length > 0) {
            cimg_no = $("#prod_id").val();
        }else {
            cimg_no = @img_no;
        }

        $.ajax({                
            url: 'Img_Del',
            data: { img_id: img_id, img_sta:c_sty, img_no: cimg_no,img_cate: c_cate  }, //此参数非常严谨，写错一个引号都不行
            type:"POST",
            dataType: 'TEXT', //返回值类型 一般设置为json
            async: false,
            success: function(JData){
                //alert(JData);
                data = handleAjaxVPNMsg(JData);
                i = 0;
                c_html = "";

                $.each($.parseJSON(data), function (idx, obj) {
                    i = i + 1;
                    c_html = c_html + "<li>";
                    c_html = c_html + "    <button class=\"close\" id=\"btn_close_" + c_sty + "_" + i + "\" name=\"btn_close_" + c_sty + "_" + i + "\" onclick=\"del_img('" + obj.img_id + "','" + c_sty + "');\" >&times;</button>";
                    c_html = c_html + "    <img id=\"img_" + c_sty + "_" + i + "\" name=\"img_" + c_sty + "_" + i + "\" src=\"../Images/" + obj.img_file + "\" alt=\"\">";
                    c_html = c_html + "</li>";
                });

                $('#c_img_' + c_sty).html(c_html);
            },
            error:function(xhr, ajaxOptions, thrownError){ 
                alert(xhr.status); 
                alert(thrownError); 
            },
            complete: function () {
                //alert(tbl_new_list);
                //alert('ajax complete');
            }
        });
        return false;
    }

    function upload(c_sty)
    {
        if ($("#pic_" + c_sty).val().length > 0) {
            //ajaxFileUpload('pic_small','small_img');
            ajaxFileUpload(c_sty);
        }
        else {
            alert("請選擇圖片");
        }
    }

    function ajaxFileUpload(c_sty) {
        var cimg_no = "";
        var c_img = "pic_" + c_sty;
        var c_cate = "Prod"

        if ($("#prod_id").val().length > 0) {
            cimg_no = $("#prod_id").val();
        }else {
            cimg_no = @img_no;
        }

        var chtml = "";
        var i = 0;
        $.ajaxFileUpload
        (
            {
                url: 'Upload', //用于文件上传的服务器端请求地址
                type: 'post',
                data: { img_no: cimg_no, img_sta:c_sty,img_cate: c_cate}, //此参数非常严谨，写错一个引号都不行
                secureuri: false, //一般设置为false
                //fileElementId: 'file1', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                fileElementId: c_img, //文件上传空间的id属性  <input type="file" id="file" name="file" />
                //dataType: 'HTML', //返回值类型 一般设置为json
                dataType: 'JSON', //返回值类型 一般设置为json
                success: function (JData, status)  //服务器成功响应处理函数
                {
                    //alert(JData);

                    data = handleAjaxVPNMsg(JData);

                    i = 0;
                    c_html = "";
                    $.each($.parseJSON(data), function (idx, obj) {
                        i = i + 1;
                        c_html = c_html + "<li>";
                        c_html = c_html + "    <button class=\"close\" id=\"btn_close_" + c_sty + "_" + i + "\" name=\"btn_close_" + c_sty + "_" + i + "\" onclick=\"del_img('" + obj.img_id + "','" + c_sty + "');\" >&times;</button>";
                        c_html = c_html + "    <img id=\"img_" + c_sty + "_" + i + "\" name=\"img_" + c_sty + "_" + i + "\" src=\"../Images/" + obj.img_file + "\" alt=\"\">";
                        c_html = c_html + "</li>";
                    });

                    $('#c_img_' + c_sty).html(c_html);
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }

    function handleAjaxVPNMsg(data) {
        var firstRemoveIndexStart = data.indexOf("<SCRIPT");
        var firstRemoveIndexEnd = data.indexOf("<\/SCRIPT>");
        var newData = data;
        while (firstRemoveIndexStart != -1) {
            firstRemoveIndexStart = newData.indexOf("<SCRIPT");
            firstRemoveIndexEnd = newData.indexOf("<\/SCRIPT>");
            //alert('firstRemoveIndexStart:'+firstRemoveIndexStart);
            if (firstRemoveIndexStart != -1) {
                if (firstRemoveIndexStart == 0) {
                    newData = newData.substr(firstRemoveIndexEnd + 9, newData.length);
                } else {
                    newDataHead = newData.substr(0, firstRemoveIndexStart);
                    newDataTail = newData.substr(firstRemoveIndexEnd + 9, newData.length);
                    //alert('newDataHead'+newDataHead);
                    //alert('newDataTail'+newDataTail);
                    newData = newDataHead + newDataTail;
                }
            }
            //alert(newData);
        }
        //alert("before:second:"+newData);
        var secondeRemoveIndex = newData.indexOf("<\/noscript>");
        //alert(secondeRemoveIndex);
        if (secondeRemoveIndex != -1) {
            newData = newData = newData.substr(0, secondeRemoveIndex);
        }
        //alert(newData);
        return newData;
    }
</script>

<form class="form form-sm" action="Prod_Save" name="form1" method="post" enctype="multipart/form-data">
    <input type="hidden" name="action_sty" id="action_sty" value="@action_sty" />
    <input type="hidden" name="prod_id" id="prod_id" value="@prod_id" />
    <input type="hidden" name="img_no" id="img_no" value="@img_no" />
    <section class="col-xs-6 m-b-1">
        <div class="form-group row">
            <label class="col-xs-3 form-control-label text-xs-right">
                <span class="text-danger">*</span> 語系
            </label>
            <div class="col-xs-9">
                <select class="form-control form-control-sm" id="lang" name="lang" onchange="get_cate();">
                    @if (d_lang.Rows.Count > 0)
                    {
                        for (int i = 0; i < d_lang.Rows.Count; i++)
                        {
                            if (d_lang.Rows[i]["lang_id"].ToString() == lang)
                            {
                                lang_selected = "selected";
                            }
                            else
                            {
                                lang_selected = "";
                            }
                            <option value="@d_lang.Rows[i]["lang_id"].ToString()" @lang_selected>@d_lang.Rows[i]["lang_name"].ToString()</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 form-control-label text-xs-right">
                <span class="text-danger">*</span> 產品類別
            </label>
            <div class="col-xs-9">
                <select class="form-control form-control-sm" name="cate" id="cate">
                    @if (d_cate.Rows.Count > 0)
                    {
                        for (int i = 0; i < d_cate.Rows.Count; i++)
                        {
                            if (d_cate.Rows[i]["cate_id"].ToString() == cate)
                            {
                                cate_selected = "selected";
                            }
                            else
                            {
                                cate_selected = "";
                            }

                            <option value="@d_cate.Rows[i]["cate_id"].ToString()" @cate_selected>@d_cate.Rows[i]["cate_name"].ToString()</option>
                        }

                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 form-control-label text-xs-right">
                <span class="text-danger">*</span> 產品名稱
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control form-control-sm" required id="prod_name" name="prod_name" value="@prod_name" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 form-control-label text-xs-right">
                肥料登記字號
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control form-control-sm" id="manure_no" name="manure_no" value="@manure_no">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 form-control-label text-xs-right">
                制肥原料
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control form-control-sm" id="manure_info" name="manure_info" value="@manure_info">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 form-control-label text-xs-right">
                登記成份
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control form-control-sm" id="manure_ingredients" name="manure_ingredients" value="@manure_ingredients">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 form-control-label text-xs-right">
                性狀
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control form-control-sm" id="manure_trait" name="manure_trait" value="@manure_trait">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 form-control-label text-xs-right">
                排序
            </label>
            <div class="col-xs-9">
                <input type="number" min="0" class="form-control form-control-sm" required id="sort" name="sort" value="@sort">
                <small class="text-muted">數字愈大排在愈上面</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 form-control-label text-xs-right">
                狀態
            </label>
            <div class="col-xs-9">
                <label class="c-input c-radio">
                    <input type="radio" name="show" id="show" value="Y" @c_status_Y>
                    <span class="c-indicator"></span>
                    <span class="text-sm">發佈</span>
                </label>
                <label class="c-input c-radio m-r-0">
                    <input type="radio" name="show" id="show" value="N" @c_status_N>
                    <span class="c-indicator"></span>
                    <span class="text-sm">草稿</span>
                </label>
            </div>
        </div>
    </section>
    <section class="col-xs-6 m-b-1">
        <div class="form-group row">
            <label class="col-xs-2 form-control-label text-xs-right">
                產品照片
            </label>
            <div class="col-xs-10">
                @* 瀏覽&上傳檔案 *@
                <input type="file" name="pic_S" id="pic_S" accept="image/*" class="form-control form-control-sm">
                <button type="button" name="btn_small_pic" onclick="upload('S');" class="btn btn-sm btn-success oi m-t-small" data-glyph="data-transfer-upload">
                    上傳
                </button>
                <br>
                @* 照片縮圖(上傳圖片後顯示) *@
                <ol class="upload-img list-inline" id="c_img_S" name="c_img_small">
                    @for (int s = 0; s < d_img.Rows.Count; s++)
                    {
                        small_img = img_path + d_img.Rows[s]["img_file"].ToString();
                        img_id = d_img.Rows[s]["img_id"].ToString();
                        <li>
                            <button class="close" id="btn_close_s_@s" name="btn_close_s_@s" onclick="del_img('@img_id','S');">&times;</button>
                            <img id="img_S_@s" name="img_S_@s" src="@small_img" alt="">
                        </li>
                    }

                </ol>

                <small class="text-muted">可上傳 1 張照片，建議尺寸為 795px*503px 或等比例長寬，每張圖最大不可超過 500kb</small>
            </div>
        </div>
    </section>

    <h4 class="h4 clear">產品詳細內容</h4>
    <div class="alert alert-warning w3-padding-small text-sm">
        <strong>編輯器注意事項: </strong><br>
        從 WORD 複製文字時，請使用下方的 <img src="~/Content/images/sys/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br>
        編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br>
        檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明)<br>
        youtube 可勾選「用自適應縮放模式」
    </div>
    @* 編輯器(含圖片上傳功能) *@
    <textarea class="form-control" rows="15" placeholder="請輸入產品詳細內容" id="prod_desc" name="prod_desc">@prod_desc</textarea>
    @*加入圖片上傳頁籤，放在頁面底下，放在頁面head區的話，會抓不到myText DOM*@
    <script type="text/javascript">
        CKEDITOR.replace('prod_desc'
    , { filebrowserImageUploadUrl: '@Url.Content("~/Manage/UploadPicture")' }
    );

    </script>

    <div class="form-action">
        <button type="button" name="btn_ok" onclick="form_ok();" class="btn btn-primary btn-sm col-xs-offset-1 oi" data-glyph="circle-check">
            存檔確認
        </button>
        <button type="button" id="btn_back" name="btn_back" onclick="location.href='ProductList'" class="btn btn-secondary btn-sm oi" data-glyph="circle-x">
            回列表
        </button>
    </div>
</form>

<script>
    //禁止按下enter
    $('#form1').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
</script>