@using System.Data
@{
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    ViewBag.Crumb = "主分類-國別 管理";
    ViewBag.nav = "n2";
    ViewBag.subNav = "n2-1";

    DataTable d_lang = (DataTable)ViewData["d_lang"];
    DataTable dt = (DataTable)ViewData["dt"];

    int row_count = 0;
    int page_count = 10;
    int page = (int)ViewData["page"];
    int pre_page = 0;
    int top_page = 0;
    int next_page = 0;
    int end_page = 0;
    int min_row = 0;
    int max_row = 0;
    int total_page = 0;

    string action_sty = (string)ViewData["action_sty"];
    string country_id = (string)ViewData["country_id"];
    string s_country_id = "";
    string country_name = "";
    string lang = "";
    string lang_name = "";
    string show = "";
    string show_class = "";
    string txt_country_query = (string)ViewData["txt_country_query"];
    string txt_sort = (string)ViewData["txt_sort"];
    string txt_a_d = (string)ViewData["txt_a_d"];
    string txt_lang = (string)ViewData["txt_lang"];
    string txt_title_query = (string)ViewData["txt_title_query"];
    string c_status_Y = "";
    string c_status_N = "";
    string c_status = "";


    string lang_selected = "";

    string a_d = "";

    if (txt_a_d == "")
    {
        a_d = "asc";
    }
    else
    {
        a_d = "desc";
    }

    string class_country = "";
    string class_lang = "";
    string class_status = "";

    switch (txt_sort)
    {
        case "country_name":
            class_country = a_d;
            break;
        case "lang":
            class_lang = a_d;
            break;
        case "status":
            class_status = a_d;
            break;
    }

    row_count = dt.Rows.Count;
    if (row_count % page_count > 0)
    {
        total_page = (row_count / page_count) + 1;
    }
    else
    {
        total_page = row_count / page_count;
    }

    if (page > total_page)
    {
        page = total_page;
    }
    else if (page < 1)
    {
        page = 1;
    }

    top_page = 1;

    if (page > 1)
    {
        pre_page = page - 1;
    }
    else
    {
        pre_page = 1;
    }

    if (total_page > page)
    {
        next_page = page + 1;
    }
    else
    {
        next_page = total_page;
    }

    end_page = total_page;

    min_row = 10 * (page - 1) + 1;
    max_row = 10 * page;
    if (max_row > row_count)
    {
        max_row = row_count;
    }


}

@section Breadcrumb {
    <li>&#8227; 海外實績維護</li>
    <li>&#8250; @ViewBag.Crumb</li>
}

<h3 class="h3">@ViewBag.Crumb</h3>

<div class="alert alert-warning w3-padding-small text-sm">
    輸入多個關鍵字時，請使用逗號 , 作為區隔 ex. 浙江,臨安,山核桃
</div>

<script>
    function form_ok() {
        //form1.submit();
        $('#form1').submit();
    }

    function form_action(c_val,c_action,action_url)
    {

        $('#action_sty').val(c_action);
        $('#country_id').val(c_val);

        if (action_url.length > 0)
        {
            $("#form1").attr("action", action_url);
        }
        else
        {
            $("#form1").attr("action", '@Url.Content("~/Manage/ResultsKind1")');
        }

        form_ok();
    }

</script>

<form name="form1" id="form1" action="" method="post">
    <input type="hidden" name="action_sty" id="action_sty" value="@action_sty" />
    <input type="hidden" id="txt_sort" name="txt_sort" value="@txt_sort" />
    <input type="hidden" id="txt_a_d" name="txt_a_d" value="@txt_a_d" />
    <input type="hidden" id="country_id" name="country_id" value="@country_id" />

    <header class="table-header">
        <div class="table-filter">
            <div class="form-inline">
                <label class="text-sm sr-only">關鍵字</label> @* 如要顯示文字: 把 sr-only 拿掉 *@
                <input type="text" class="form-control form-control-sm" placeholder="請輸入關鍵字..." id="txt_country_query" name="txt_country_query" value="@txt_country_query">

                <label class="text-sm w3-margin-left">語系</label>
                <select class="form-control form-control-sm" id="txt_lang" name="txt_lang">
                    <option value="">全部</option>
                    @if (d_lang.Rows.Count > 0)
                    {
                        for (int i = 0; i < d_lang.Rows.Count; i++)
                        {
                            if (d_lang.Rows[i]["lang_id"].ToString() == txt_lang)
                            {
                                lang_selected = "selected";
                            }
                            else
                            {
                                lang_selected = "";
                            }
                            <option value="@d_lang.Rows[i]["lang_id"].ToString()" @lang_selected>@d_lang.Rows[i]["lang_name"].ToString()</option>
                        }
                    }
                </select>

                <button class="btn btn-sm btn-primary oi" data-glyph="magnifying-glass" name="btn_query" id="btn_query" onclick="form_ok();">查詢</button>
            </div>
        </div><!-- table-filter //-->
    </header>

    <table class="table table-sm table-bordered table-striped table-hover">
        <colgroup>
            <col span="2" style="width: 6%">
            <col style="width: 12%">
            <col>
            <col style="width: 16%">
        </colgroup>
        <thead>
            <tr>
                <th class="text-xs-center" colspan="2">編輯</th> @* 文字置中: class="text-xs-center" / 置右: class="text-xs-right" *@
                <th>
                    @* 點選排序功能 (點一下遞增 asc, 點兩下遞減 desc) *@
                    <button class="text-xs-center th-sort-toggle @class_lang" name="btn_lang" id="btn_lang" onclick="sort('lang');">語系</button>
                </th>
                <th>
                    <button class="text-xs-center th-sort-toggle @class_country" name="btn_country" id="btn_country" onclick="sort('country_name');">國家名稱</button>
                </th>
                <th>
                    <button class="text-xs-center th-sort-toggle @class_status" name="btn_status" id="btn_status" onclick="sort('status');">狀態</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @* 建議: 1頁10筆資料 *@
            @if (dt.Rows.Count > 0)
            {
                for (int i = min_row - 1; i < max_row; i++)
                {
                    s_country_id = dt.Rows[i]["country_id"].ToString();
                    country_name = dt.Rows[i]["country_name"].ToString();
                    lang_name = dt.Rows[i]["lang_name"].ToString();
                    c_status = dt.Rows[i]["status"].ToString();

                    switch (c_status)
                    {
                        case "Y":
                            c_status_Y = "checked";
                            c_status_N = "";
                            c_status = "顯示";
                            show_class = "label-success";
                            break;
                        case "N":
                            c_status_Y = "";
                            c_status_N = "checked";
                            c_status = "隱藏";
                            show_class = "label-default";
                            break;
                    }

                    if (action_sty == "edit" && s_country_id == country_id)
                    {
                        <tr>
                            <td class="text-xs-center">
                                <button type="button" class="btn btn-link text-warning oi" data-glyph="x" title="取消修改" id="btn_edit_cancel" name="btn_edit_cancel" onclick="form_action('', '', '');"></button>
                            </td>
                            <td class="text-xs-center">
                                <button type="button" class="btn btn-link text-success oi" data-glyph="check" title="確定修改" id="btn_edit_save" name="btn_edit_save" onclick="form_action('@country_id','edit','@Url.Content("~/Manage/ResultsKind1_Save")');"></button>
                            </td>
                            <td>
                                <select class="form-control form-control-sm" id="lang" name="lang">
                                    @if (d_lang.Rows.Count > 0)
                                    {
                                        for (int j = 0; j < d_lang.Rows.Count; j++)
                                        {
                                            if (d_lang.Rows[j]["lang_id"].ToString() == dt.Rows[i]["lang"].ToString())
                                            {
                                                lang_selected = "selected";
                                            }
                                            else
                                            {
                                                lang_selected = "";
                                            }
                                            <option value="@d_lang.Rows[j]["lang_id"].ToString()" @lang_selected>@d_lang.Rows[j]["lang_name"].ToString()</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" id="country_name" name="country_name" value="@country_name">
                            </td>
                            <td class="text-xs-center">
                                <label class="c-input c-radio">
                                    <input type="radio" name="show" id="show" value="Y" @c_status_Y >
                                    <span class="c-indicator"></span>
                                    <span class="text-sm">顯示</span>
                                </label>
                                <label class="c-input c-radio m-r-0">
                                    <input type="radio" name="show" id="show" value="N" @c_status_N >
                                    <span class="c-indicator"></span>
                                    <span class="text-sm">隱藏</span>
                                </label>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="text-xs-center">
                                <button type="button" onclick="form_action('@s_country_id','del','');" class="btn btn-link text-danger oi" data-glyph="trash"></button>
                            </td>
                            <td class="text-xs-center">
                                <button type="button" onclick="form_action('@s_country_id','edit','');" class="btn btn-link oi" data-glyph="pencil"></button>
                            </td>
                            <td class="text-xs-center">@lang_name</td>
                            <td class="text-xs-center">@country_name</td>
                            <td class="text-xs-center"><span class="w3-tag @show_class w3-round">@c_status</span></td>
                        </tr>
                    }

                }
            }
            else
            {
                <tr>
                    <td class="text-xs-left" colspan="5">
                        無資料
                    </td>
                </tr>
            }

            @* 按下新增時顯示 *@
            @if (action_sty == "add")
            {
                <tr>
                    <td class="text-xs-center">
                        <button type="button" class="btn btn-link text-warning oi" data-glyph="x" title="取消修改" id="btn_add_cancel" name="btn_add_cancel" onclick="form_action('', '', '');" ></button>
                    </td>
                    <td class="text-xs-center">
                        <button type="button" class="btn btn-link text-success oi" data-glyph="check" title="確定修改" id="btn_add_save" name="btn_add_save" onclick="form_action('','add','@Url.Content("~/Manage/ResultsKind1_Save")');"></button>
                    </td>
                    <td>
                        <select class="form-control form-control-sm" id="lang" name="lang">
                             @if (d_lang.Rows.Count > 0)
                            {
                                for (int i = 0; i < d_lang.Rows.Count; i++)
                                {
                                    <option value="@d_lang.Rows[i]["lang_id"].ToString()" >@d_lang.Rows[i]["lang_name"].ToString()</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" placeholder="請輸入國別名稱" id="country_name" name="country_name" value="">
                    </td>
                    <td class="text-xs-center">
                        <label class="c-input c-radio">
                            <input type="radio" name="show" value="Y" checked>
                            <span class="c-indicator"></span>
                            <span class="text-sm">顯示</span>
                        </label>
                        <label class="c-input c-radio m-r-0">
                            <input type="radio" name="show" value="N">
                            <span class="c-indicator"></span>
                            <span class="text-sm">隱藏</span>
                        </label>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <footer class="table-footer clearfix">
        <button type="button" onclick="form_action('','add','');" class="btn btn-sm btn-success pull-xs-left oi" data-glyph="plus">
            新增
        </button>
        <small class="pull-xs-right">第 1-10 筆，共 @row_count 筆</small>
        <ul class="pager pager-sm">
            <li>
                <a href="@Url.Content("~/Manage/ResultsKind1?page=" + top_page.ToString())" class="oi" data-glyph="media-step-backward"></a>
            </li>
            <li>
                <a href="@Url.Content("~/Manage//ResultsKind1?page=" + pre_page.ToString())" class="oi" data-glyph="caret-left"></a>
            </li>
            <li class="form-inline">
                <label>第</label>
                <input type="text" class="form-control form-control-sm text-xs-center" style="width:100px" name="page" id="page" value="@page">
                <label>頁，共 @total_page 頁</label>
            </li>
            <li>
                <a href="@Url.Content("~/Manage//ResultsKind1?page=" + next_page.ToString())" class="oi" data-glyph="caret-right"></a>
            </li>
            <li>
                <a href="@Url.Content("~/Manage//ResultsKind1?page=" + end_page.ToString())" class="oi" data-glyph="media-step-forward"></a>
            </li>
        </ul>
    </footer>
</form>

<script>
    //禁止按下enter
    $('#form1').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

    //$('#page').on('keydown', function (e) {
    //    if (e.which == 13) {
    //        //alert('clicked');
    //        document.form1.submit();
    //    }
    //});

    //$('#txt_country_query').on('keydown', function (e) {
    //    if (e.which == 13) {
    //        //alert('clicked');
    //        $('#form1').submit();
    //    }
    //});

    //$('#txt_lang').on('keydown', function (e) {
    //    if (e.which == 13) {
    //        //alert('clicked');
    //        $('#form1').submit();
    //    }
    //});

    function sort(c_sort)
    {
        var pre_sort = $('#txt_sort').val();
        var pre_a_d = $('#txt_a_d').val();
        var a_d = "";
        var s_sort = "";
        var class_a_d = "";

        s_sort = c_sort;
        if (pre_sort == c_sort) {
            if (pre_a_d == "") {
                a_d = "desc";
            }
            else {
                a_d = "";
            }
        }
        else {
            a_d = "";
        }

        //alert("pre_sort:" + pre_sort + ";pre_a_d:" + pre_a_d + ";a_d:" + a_d + ";s_sort=" + s_sort)

        $('#txt_sort').val(s_sort);
        $('#txt_a_d').val(a_d);

        $('#form1').submit();

    }
</script>