@using System.Data
@{
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    ViewBag.Crumb = "影音專區";
    ViewBag.nav = "n3";
    ViewBag.subNav = "n3-3";

    DataTable d_lang = (DataTable)ViewData["d_lang"];
    DataTable d_com_info = (DataTable)ViewData["d_com_info"];
    string c_selected = "";
    string lang = (string)ViewData["lang"];
    string com_desc = "";

    if (d_com_info.Rows.Count > 0)
    {
        com_desc = d_com_info.Rows[0]["com_desc"].ToString();
    }


}

@section Breadcrumb {
    <li>&#8227; 網站資訊維護</li>
    <li>&#8250; @ViewBag.Crumb</li>
}

<h3 class="h3">@ViewBag.Crumb<small class="sub"><span class="w3-large">&#187;</span> 修改</small></h3>
@*1.引用ckeditor.js*@
<script src="~/ckeditor/ckeditor.js"></script>

<div class="alert alert-warning w3-padding-small text-sm">
    <strong>編輯器注意事項: </strong><br>
    從 WORD 複製文字時，請使用下方的 <img src="~/Content/images/sys/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br>
    編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br>
    檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明)<br>
    youtube 可勾選「用自適應縮放模式」
</div>

<script>
    function form_ok() {
        form1.action = "Video_Update";
        form1.submit();
    }

    function lang_select()
    {
        form1.action = "Video";
        form1.submit();
    }
</script>

<form action="" class="form form-sm" name="form1" id="form1" method="post">
    <select id="lang" name="lang" required onchange="lang_select();" class="form-control w3-margin-bottom">
        @if (d_lang.Rows.Count > 0)
        {
            for (int i = 0; i < d_lang.Rows.Count; i++)
            {
                if (d_lang.Rows[i]["lang_id"].ToString() == lang)
                {
                    c_selected = "selected";
                }
                else
                {
                    c_selected = "";
                }
                <option value="@d_lang.Rows[i]["lang_id"].ToString()" @c_selected>@d_lang.Rows[i]["lang_name"].ToString()</option>
            }
        }
    </select>

    @* 編輯器(含圖片上傳功能) *@
    <textarea class="form-control" rows="15" placeholder="請輸入影音專區內容" id="com_desc" name="com_desc">@com_desc</textarea>
    @*加入圖片上傳頁籤，放在頁面底下，放在頁面head區的話，會抓不到myText DOM*@
    <script type="text/javascript">
        CKEDITOR.replace('com_desc'
    , { filebrowserImageUploadUrl: '@Url.Content("~/Manage/UploadPicture")' }
    );
    </script>

    <div class="form-action text-xs-center">
        <button type="button" name="btn_ok" onclick="form_ok();" class="btn btn-primary btn-sm oi" data-glyph="circle-check">
            存檔確認
        </button>
    </div>
</form>
<script>
    //禁止按下enter
    $('#form1').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
</script>