@{
    ViewBag.Title = "WELCOME";
    ViewBag.IsFirstPage = true;
}
@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/magnific-popup.css">
}
@section scripts {
    <script src="~/Content/js/jquery.scrollify.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script>

        $("#header").addClass("bottom");

        $(document).ready(function () {
            $.scrollify({
                section: ".panel",
                setHeights: false,
            });
        });
        $("#banner .scroll").click(function(e){
            e.preventDefault();
            $.scrollify.next();
        });

        var length = $("#header").offset().top;
        $(window).scroll(function () {
             var scroll = $(this).scrollTop();
             if (scroll >= length) {
                  $("#header").removeClass("bottom");
             }
             else {
                  $("#header").addClass("bottom");
             }
        });

        $('.popup-link').click(function(){
            var hash = $(this).attr("href"); // get hash tag
            var link = $(this).data("link"); // get actural link
            $.ajax({
                url: link,
                success: function(data){
                    $.magnificPopup.open({
                        type: 'inline',
                        items: {
                            src: data
                        },
                        callbacks: {
                            close: function() {
                                window.location.href = window.location.href.replace(hash,'');
                                // remove hash tag in the url after closed
                            }
                        }
                    });
                }
            });
        });

        if(window.location.hash) {
            var hash = window.location.hash; // get hash tag
            if ( $(hash).attr("data-link") ) {
                var link = $(hash).data("link"); // get actural link from the btn with the hash tag
                $.ajax({
                    url: link,
                    success: function(data){
                        $.magnificPopup.open({
                            type: 'inline',
                            items: {
                                src: data
                            },
                            callbacks: {
                                close: function() {
                                    window.location.href = window.location.href.replace(hash,'');
                                    // remove hash tag in the url after closed
                                }
                            }
                        })
                    }
                });
            }
        }

    </script>
}

@section banner {
    <div id="banner" class="panel">
        <video preload="auto" autoplay loop>
            <source src="~/Content/images/index/banner.mp4" type="video/mp4">
        </video>

        <h1 class="logo-intro">@ViewBag.Title</h1>

        <h2 class="slogan1">養地不難</h2>
        <h3 class="slogan2">天然的有機質營養元素</h3>

        <a href="#" class="scroll">
            <i class="icon-angle-down"></i>
            Scroll Down
        </a>
    </div>
}


<div class="panel">@* for scrollify *@


<section id="witness"><div class="wrap">

    <h2 class="h2">Witness Around the World</h2>

    <div class="row">

        <div class="article-list col-xs-6">

            <div class="related-item row">
                <div class="col-xs-6">
                    <article class="img-thumbnail">
                        <img src="http://lorempixel.com/530/335/nature/1" alt="">
                        <div class="article-content">
                            <h3 class="h3">種植物種植物</h3>
                            <p>國別 地點</p>
                            <a href="#data-001" id="data-001" class="more popup-link" data-link="@Url.Content("~/Home/WitnessData")">Read more</a>
                        </div>
                    </article>
                </div>
                <div class="col-xs-6">
                    <article class="img-thumbnail">
                        <img src="http://lorempixel.com/600/600/nature/2" alt="">
                        <div class="article-content">
                            <h3 class="h3">山核桃</h3>
                            <p>中國 蘇州</p>
                            <a href="#data-002" id="data-002" class="more popup-link" data-link="@Url.Content("~/Home/WitnessData")">Read more</a>
                        </div>
                    </article>
                </div>
                <div class="col-xs-6">
                    <article class="img-thumbnail">
                        <img src="http://lorempixel.com/500/800/nature/3" alt="">
                        <div class="article-content">
                            <h3 class="h3">菸草</h3>
                            <p>中國 雲南昆明</p>
                            <a href="#data-003" id="data-003" class="more popup-link" data-link="@Url.Content("~/Home/WitnessData")">Read more</a>
                        </div>
                    </article>
                </div>
                <div class="col-xs-6">
                    <article class="img-thumbnail">
                        <img src="http://lorempixel.com/800/500/nature/4" alt="">
                        <div class="article-content">
                            <h3 class="h3">水稻</h3>
                            <p>柬埔寨 干拉</p>
                            <a href="#data-004" id="data-004" class="more popup-link" data-link="@Url.Content("~/Home/WitnessData")">Read more</a>
                        </div>
                    </article>
                </div>
            </div>

        </div> @* col *@

        <div class="search col-xs-6">

            <h3 class="h3">查看更多海外實績</h3>
            <form action="">
                <div class="row">
                    <div class="col-xs-6">
                        <select name="" id="" class="form-element custom-input">
                            <option value="" selected disabled>請選擇國別</option>
                            <option value="">不拘</option>
                            <option value="">中國</option>
                            <option value="">柬埔寨</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <select name="" id="" class="form-element custom-input">
                            <option value="" selected disabled>請選擇省</option>
                            <option value="">不拘</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <select name="" id="" class="form-element custom-input">
                            <option value="" selected disabled>請選擇產品</option>
                            <option value="">不拘</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <select name="" id="" class="form-element custom-input">
                            <option value="" selected disabled>請選擇種植物</option>
                            <option value="">不拘</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" class="form-element custom-input" placeholder="請輸入關鍵字...">
                    </div>
                </div>
                <div class="row row-x-0">
                    <button class="btn btn-primary"><i class="icon-search"></i> 按此搜尋</button>
                </div>
            </form>

        </div> @* col *@

    </div>@* row *@
    
</div></section>@* witness *@


<section id="categories"><div class="wrap">

    <h1 class="sr-only">產品分類</h1>

    <div class="row">

        <div class="col-xs-6">
            <article class="article">
                <h2 class="sr-only">大地系列</h2>
                <a href="~/Home/ProductData">
                    <img src="~/Content/images/product/cat1.jpg" alt="">
                    <span>大地系列</span>
                </a>
            </article>
        </div>

        <div class="col-xs-6">
            <article class="article">
                <h2 class="sr-only">功能性系列</h2>
                <a href="~/Home/ProductData">
                    <img src="~/Content/images/product/cat2.jpg" alt="">
                    <span>功能性系列</span>
                </a>
            </article>
        </div>

    </div>

</div></section>@* categories *@


<div id="about"><div class="wrap">

    <div class="row">

        <section class="news-list col-xs-6">

            <h1 class="sr-only">最新消息</h1>

            <article class="article">
                <h2 class="h2"><a href="~/Home/NewsData">最新消息最新消息</a></h2>
                <p class="date"><i class="icon-calendar"></i> 2016-01-01</p>
                <p>最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息v</p>
                <p><a href="~/Home/NewsData" class="more">Read more</a></p>
            </article>
            <article class="article">
                <h2 class="h2"><a href="~/Home/NewsData">最新消息最新消息</a></h2>
                <p class="date"><i class="icon-calendar"></i> 2016-01-01</p>
                <p>最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息</p>
                <p><a href="~/Home/NewsData" class="more">Read more</a></p>
            </article>
            <article class="article">
                <h2 class="h2"><a href="~/Home/NewsData">最新消息最新消息</a></h2>
                <p class="date"><i class="icon-calendar"></i> 2016-01-01</p>
                <p>最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息</p>
                <p><a href="~/Home/NewsData" class="more">Read more</a></p>
            </article>
            
        </section>

        <section class="branches col-xs-6">

            <h1 class="sr-only">公司據點</h1>
            <h2 class="h2">大地還原生物科技股份有限公司</h2>

            <article class="article">
                <div class="row">
                    <div class="col-xs-12"><img src="~/Content/images/index/contact.jpg" alt=""></div>
                    <div class="col-xs-12">
                        <h3 class="h3">台灣總公司</h3>
                        <ul class="list-unstyled">
                            <li><strong>桃園市龜山區振興路56號</strong></li>
                            <li>
                                <em>電話</em> 03-329-8999
                                <em>傳真</em> 03-329-9686
                            </li>
                        </ul>
                    </div>
                </div>
            </article>

            <button class="btn btn-secondary">查看其他海外據點 <i class="icon-arrow-circle-right"></i></button>

        </section>

    </div>
    
</div></div>@* about *@


</div>@* panel *@